<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
  <property name="FEDORA_LOG_PATH"
            value="/var/log/tomcat7/fedora.log"/>
  <appender name="FEDORA" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${FEDORA_LOG_PATH}</file>
    <encoder>
      <pattern>%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] \(%c{0}\) %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>10</maxIndex>
      <FileNamePattern>${FEDORA_LOG_PATH}.%i.gz</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>20MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <logger name="org.fcrepo" additivity="false" level="INFO">
    <appender-ref ref="FEDORA"/>
  </logger>

  <logger name="org.apache.cxf" additivity="false" level="WARN">
    <appender-ref ref="FEDORA"/>
  </logger>
  <root additivity="false" level="WARN">
    <appender-ref ref="FEDORA"/>
  </root>
</configuration>
